<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<%= link_to 'Back', pins_path, class: "btn" %>
			<div class="panel-heading center">
				<%= image_tag @pin.image.url, id: 'show-img' %>
			</div>
			<div class="panel-body">
			<p>
				<strong><%= @pin.user.name %></strong> <br>
			  <%= @pin.desciption %>
			</p>
		</div>
		<div class="panel-footer">
			<% if @pin.user == current_user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %>
				<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
			</div>
		</div>
</div>